<%= form_with(model: task) do |form| %>

  <div class="form-group form-floating mb-3">

    <div>
      <%= form.label :description, style: "display: block", class:"form-label" %>
      <%= form.text_field :description, class: "form-input" %>
    </div>

    <div>
      <%= form.label :due_date, style: "display: block", class:"form-label" %>
      <%= form.date_field :due_date %>
    </div>

    <div>
      <%= form.label :done, style: "display: block" %>
      <%= form.check_box :done %>
    </div>

    <div>
      <%= form.submit class: "btn btn-outline-primary mt-3"  %>
    </div>
  
  </div>

<% end %>
