<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="container mt-20 bg-green-300">      

  <div class="d-flex h-100 justify-content-center rounded row shadow-lg mt-20 p-5 text-center">
  
    <main class="col-11 col-md-10 col-lg-8 shadow-lg p-5 mb-5 rounded">

      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == alert ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </main>
  
  </div>


  </body>
</html>
